ion-content{
  --background:var(--ion-color-primary);
}

.div-centered {

  transform: translateX(-50%) translateY(-50%);
  top: 48%;
  left: 50%;
  position:absolute;
  width: 90%;
  margin-left: 0%;
  margin-right: 0%;

  .div-centered-header {
      position: relative;
      top: 36%;
      font-size: 3.0em;
      width: 100%;
      font-weight: bold;
      color: red;
  }

  .div-centered-body {
      font-size: 1.0em;
      text-align: center;
      position: relative;
      top: 52%;
      width: 100%;
  }
}
.chapTitle{
  // color: white;
  // font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  display: flex;
  justify-content: left;
  align-items: center;
}
.subTitle{
  margin: 0px;
  margin-top: 5px;
  font-size: 10px;
  // color: #e4a842;
  color: #8f8e8d;
}
.chapIcon{
  max-height: 55px;
}
