<ion-header    class="navbarBg ion-no-border">
  <ion-toolbar >
       <ion-buttons slot="start">
      <ion-menu-button class="menuBtn" menuToggle autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Chapter Selection
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content >
  <ion-card class="" *ngFor="let chapter of chapters;let i=index;" (click)="openChapterPage(chapter)">
         <ion-row class="chapTitle">
          <ion-col size="2.5">
            <img class="chapIcon" src="../../assets/book.png">
          </ion-col>
          <ion-col class="" size="9.5">
            <ion-label (click)="openChapterPage(chapter)" class="">
              <!-- <ion-icon name="book-outline"></ion-icon> -->
              {{chapter.name}}
            </ion-label>
            <p class="subTitle"> Chapter {{ i+1 }}</p>
          </ion-col>
        </ion-row> 
 
  </ion-card>

</ion-content>
