.align{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
ion-content{
  // --background: url(../../assets/app-background.jpg) 0 0/100% 100% no-repeat;
  // --background:#2d3436;
}
