<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding margin>
  <ion-card *ngIf="mcqs.length>0" class="div-centered">
    <ion-card-header>
      <ion-card-subtitle color="primary" style="font-weight: bold;text-align: center;">Choose The Correct Answer
      </ion-card-subtitle>

    </ion-card-header>
    <ion-item class="font">
      {{currentMcq.question}}
    </ion-item>

    <ion-item>
      <ion-checkbox [(ngModel)]="Answer.name1" (ionChange)="checkedOne($event)" style="margin-right: 5px;"
        color="primary"></ion-checkbox>
      {{currentMcq.opt1}}
    </ion-item>



    <ion-item>
      <ion-checkbox [(ngModel)]="Answer.name2" (ionChange)="checkedTwo($event)" style="margin-right: 5px;"
        color="primary"></ion-checkbox>
      {{currentMcq.opt2}}
    </ion-item>



    <ion-item>
      <ion-checkbox [(ngModel)]="Answer.name3" (ionChange)="checkedThree($event)" style="margin-right: 5px;"
        color="primary"></ion-checkbox>
      {{currentMcq.opt3}}
    </ion-item>

    <ion-item>
      <ion-checkbox [(ngModel)]="Answer.name4" (ionChange)="checkedFour($event)" style="margin-right: 5px;"
        color="primary"></ion-checkbox>
      {{currentMcq.opt4}}
    </ion-item>
    <br>
    <div style="text-align: center;">
      <ion-button (click)="submit()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar style="text-align:center">
    <ion-title>{{crrentMcqIndex+1}}/{{mcqs.length}}</ion-title>
  </ion-toolbar>
</ion-footer>
