<!--  -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title style="font-family: Audiowide">Sign In<br><p style="font-size: 16px; margin-top: 0px;">Sign In to continue</p></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content no-padding no-margin>
  <div class="main-div">
    <ion-card class="login-card">
      
      <ion-card-header>
        <ion-card-subtitle class="align-center">Welcome</ion-card-subtitle>
        <ion-card-title class="align-center"><b>Please Login!</b></ion-card-title>
      </ion-card-header>

      <div>
        <ion-thumbnail class="thumbnail-center">
          <img src="../../assets/loginPage.png" alt="">
        </ion-thumbnail>
      </div>
      
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="user.password" type="Password"></ion-input>
      </ion-item>
      
      <ion-row>
        <ion-col>
          <ion-button (click)="submit()">
            <ion-icon name="log-in-outline"></ion-icon>
            &nbsp; Login
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button routerLink="/signup">
            <ion-icon name="create-outline"></ion-icon>
            &nbsp; Signup
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card>

  </div>

</ion-content>