<!-- <ion-header>
  <ion-toolbar>
    <ion-title>aboutus</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card class="div-centered" >
    <ion-card-header>
      <ion-card-title>
        <ion-avatar>
          <img src="../../assets/info.png">
        </ion-avatar> APPTITRON
      </ion-card-title>
      <ion-card-subtitle>About Us</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Apptitron app is developed by cortex, a team powered by a team of passionate geeks techies with background
        in development.
      </p>
      <br>
      <p>Our main motive of Apptitron app is to provide the the student a facility to digitilize themselves while studing and make the Study as easy as possible.
       This era is all about Technology. Technology helps us in many ways. so why not in Exams?
      </p>
      <br>
      <p>Our future goal is to provide a proper guide to all the MCQ's that is regarding or related to the Karachi Board Specifically.</p>
      <p> For further details and queries you can contact us on </p><br>
      <p>
        <!-- <b align=center>email:medifinder@gmail.com <br> Contact No: 03042629488</b> -->
      </p>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button href="https://www.facebook.com/">
            <ion-icon color="primary" name="logo-facebook">
              </ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon color="primary" name="logo-googleplus"></ion-icon>
          </ion-button>
          <ion-button href="https://pk.linkedin.com/">
            <ion-icon color="primary" name="logo-linkedin"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>
</ion-content>
