ion-avatar{
  margin:0 auto;
}
 
.mainHeader{
  font-family: "Audiowide", sans-serif;
  font-size: 40px;
  color: white;
  padding-top: 40px;
  font-weight: 500;
  text-align: center;
}
.footer{
  text-align: center;
  color:white;
  background-color:  var(--app-primary)
}
ion-row{
  flex-wrap: nowrap;
}
.navbarBg{
   height: 135px;
.welcomeTxt{
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    font-size: 13px;
  }
}
  }
.div-centered {
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  position: relative;

  .div-centered-header {
      position: relative;
      top: 36%;
      font-size: 3.0em;
      width: 100%;
      font-weight: bold;
      color: red;
  }

  .div-centered-body {
      font-size: 1.0em;
      text-align: center;
      position: relative;
      top: 52%;
      width: 100%;
  }
  .categoryBg{
    // background: var(--app-primary);
     margin: 0px;
    ion-button{
      color: var(--app-primary);
    }
  }
    .main-div{
      .categoryBg.borderRight{
         border-right:1px solid var(--ion-color-dark-tint);
       }
       .categoryBg.borderLeft{
        border-left:1px solid var(--ion-color-dark-tint);
      }
      .categoryBg.borderLeft.borderBottom{
        border-bottom:1px solid var(--ion-color-dark-tint);
      }
      .categoryBg.borderRight.borderBottom{
        border-bottom:1px solid var(--ion-color-dark-tint);
      }
      .categoryBg.borderRight.borderTop{
        border-top:1px solid var(--ion-color-dark-tint);
      }
      .categoryBg.borderLeft.borderTop{
       border-top:1px solid var(--ion-color-dark-tint);
     }
     }
}
.heading-div{
  height:18%;
  background-color:var(--ion-color-primary);
}
h1{
  margin: 0px;
}
.margin{
  margin: 10px 15px 10px 15px;
  
}
.shapesGrid{
  display: flex;
  justify-content: center;
  align-items: baseline;
  position:absolute;
  .shape1  {
    height: 60px;
    width: 60px;
    background-color: #7FDBFF;
    transform: rotate(45deg);
    animation: circle 3s infinite;
    clip-path: circle(75%);
    transition: clip-path 1s;

  }
  .shape2{

    background-color: #39cccc;
    background-size: cover;
    width: 80px;
    height: 80px;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    animation: clips 3s ease infinite;
  } 
  .pentagon {
    border-bottom: 55px solid #333;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    height: 0px;
    width: 90px;
    animation: trapezoid 5s ease infinite;
 
  }
  @keyframes trapezoid {
    0% {
       clip-path: polygon(50% 0%, 100% 38%, 
              82% 100%, 18% 100%, 0% 38%);
  }

  50% {
       clip-path: polygon(50% 50%, 90% 88%, 
              80% 10%, 20% 10%, 8% 90%);
  }

  100% {
       clip-path: polygon(50% 0%, 100% 38%, 
              82% 100%, 18% 100%, 0% 38%);
  }
  }
   
  @keyframes clips {
    50% {
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%)
    }
  }

  @keyframes circle {
    0% { clip-path: circle(75%); }
    50% { clip-path: circle(25%); }
    100% { clip-path: circle(75%); }
  }
  
  @keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  
}
