<ion-content>
  <ion-card class="div-centered">
    <ion-grid>
      <ion-row  >
        <ion-col size="6">
          <ion-avatar >
            <img    routerLink="/class"
              src="../../assets/mcq.png" alt="">
          </ion-avatar>
            <br>
          <ion-button routerLink="/search-medicine" expand="block" fill="clear">Start MCQs</ion-button>
        </ion-col>

         <ion-col size="6">
          <ion-avatar>
            <img routerLink="/login"
              src="../../assets/login2.png" alt="">
          </ion-avatar>
            <br>
          <ion-button routerLink="/login" expand="block" fill="clear">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col size="6">
          <ion-avatar >
            <img    routerLink="/signup"
              src="../../assets/contract.png" alt="">
          </ion-avatar>
            <br>
          <ion-button routerLink="/signup" expand="block" fill="clear">Sign Up</ion-button>
        </ion-col>

         <ion-col size="6">
          <ion-avatar>
            <img routerLink="/aboutus"
              src="../../assets/info.png" alt="">
          </ion-avatar>
            <br>
          <ion-button routerLink="/aboutus" expand="block" fill="clear">About Us</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>
<ion-footer class="footer">
  <ion-note style="color:white;">
    Copyright &copy; MF
  </ion-note>
</ion-footer>
