<ion-header class="navbarBg ion-no-border" >

  <ion-toolbar >
   
    <ion-buttons slot="start">
      <ion-menu-button class="menuBtn" menuToggle autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
   
     
  </ion-toolbar>
  <ion-row class="welcomeTxt">
    <ion-col>
      <p>
        Welcome to the Quiz App. You will find most of the preparing material for your exams. Enjoy!
      </p>
    </ion-col>
  </ion-row>
 
</ion-header>

<ion-content padding>
  <ion-grid class="shapesGrid">
    <div class="pentagon margin"></div>
    <div class="shape2 margin"></div>
    <div class="shape1 margin"></div>
  </ion-grid>
  <!-- <ion-grid>
    <ion-slides [options]="slideOptions">
      <ion-slide>
        <ion-row class="main-div" >
          <ion-col class="categoryBg" size="12">
            <ion-avatar >
              <img    routerLink="/class"
                src="../../assets/mcq.png" alt="">
            </ion-avatar>
              <br>
            <ion-button routerLink="/search-medicine" expand="block" fill="clear">Start MCQs</ion-button>
          </ion-col>
   
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid> -->
 
  
 
  
  <!-- <ion-card class="div-centered"> -->
    <ion-grid class="div-centered">
      <ion-row class="main-div" >
        <ion-col class="categoryBg borderRight borderBottom" size="6">
          <ion-avatar >
            <img    routerLink="/class"
              src="../../assets/mcq.png" alt="">
          </ion-avatar>
            <br>
          <ion-button routerLink="/search-medicine" expand="block" fill="clear">Start MCQs</ion-button>
        </ion-col>

         <ion-col class="categoryBg borderLeft borderBottom" size="6">
          <ion-avatar>
            <img routerLink="/login"
              src="../../assets/login2.png" alt="">
          </ion-avatar>
            <br>
          <ion-button routerLink="/login" expand="block" fill="clear">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="main-div" >
        <ion-col class="categoryBg borderRight borderTop" size="6">
          <ion-avatar >
            <img    routerLink="/signup"
              src="../../assets/contract.png" alt="">
          </ion-avatar>
            <br>
          <ion-button routerLink="/signup" expand="block" fill="clear">Sign Up</ion-button>
        </ion-col>

         <ion-col  class="categoryBg borderLeft borderTop" size="6">
          <ion-avatar>
            <img routerLink="/aboutus"
              src="../../assets/info.png" alt="">
          </ion-avatar>
            <br>
          <ion-button routerLink="/aboutus" expand="block" fill="clear">About Us</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   <!-- </ion-card> -->
</ion-content>
<ion-footer class="footer">
  <ion-note style="color:white;">
    Copyright &copy; MF
  </ion-note>
</ion-footer>
