<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu  contentId="main-content" type="overlay">
      <ion-content>
        <ion-grid  class="appLogo">
        <ion-menu-toggle>
        <img menuClose [routerLink]="['/main']"  src="../assets/logo.png">
      </ion-menu-toggle>
      </ion-grid>
        <ion-list>
          <!-- <ion-list-header style="font-size: large;" class="side-menu-header">APPTITRON</ion-list-header> -->
          
          <ion-note class="side-menu-header">Your Exam Partner</ion-note>
        <!-- </ion-list> -->
        <div *ngIf="currentUser">
          <div class="guestcustomer" >
            <ion-thumbnail>
              <img src="../assets/user.png">
            </ion-thumbnail>
          </div>
          <div class="guestcustomer">
            {{currentUser.username | uppercase}}
          </div>
        </div>
        <br>


        <!-- <ion-list id="inbox-li st"> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon color="app-primary" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item  lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label></ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
      <ion-footer *ngIf="currentUser!=null">
        <ion-toolbar>
          <ion-menu-toggle auto-hide="false" *ngIf="currentUser!=null">
            <ion-item (click)="logout()" routerDirection="root" lines="none" detail="false">
              <ion-icon slot="start" color="app-primary" name="log-in"></ion-icon>
              <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-toolbar>
      </ion-footer>
      <ion-footer >
        <ion-toolbar>
          <ion-item>
            <ion-label class="copyright">
              Copyright &copy; MF
            </ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
