<!-- <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title style="font-family: Audiowide">Signup! Its Easy</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="main-div">
    <ion-card class="login-card">
      
      <ion-card-header>
        <ion-card-subtitle class="align-center">Welcome</ion-card-subtitle>
        <ion-card-title class="align-center"><b>Please Signup!</b></ion-card-title>
      </ion-card-header>

      <div>
        <ion-thumbnail class="thumbnail-center">
          <img src="../../assets/loginPage.png" alt="">
        </ion-thumbnail>
      </div>
      
      
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input ></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="Password" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="Password" ></ion-input>
        </ion-item> 
        
        <ion-row>
          <ion-col>
            <ion-button click="submit()" expand="full">
              <ion-icon name="create-outline"></ion-icon>
              &nbsp; Signup
            </ion-button>
          </ion-col>
        </ion-row>
      
    </ion-card>
  </div>    
</ion-content>
<!-- <ion-footer>
  <ion-item >
    <ion-label style="text-align: center; font-size: 14px; margin-top: 0%;">Already have an account?<a><u>Login</u></a></ion-label>
  </ion-item>
</ion-footer> -->